.bodyContainer {
    background-image: url("/Cover.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    width: Fixed (1,728px);height: Hug (117px);padding: 32px, 124px, 32px, 124px;
}
.headApp{
    width: Hug (157px);height: Hug (40px);display: flex; flex-direction: row; align-items: center;
}
.iconApp img {
    width: 50px;height: 50px
}
#component {
    position: relative; 
}
.titleContainer {
    width: 103px;height: 34px;font-family: Poppins, sans-serif;font-size: 25px;
              font-weight: 700;
              line-height: 34px;
              letter-spacing: 0em;
              text-align: left;
              color: #04B2D9;
}
#component::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:  url("/gr.jpg");
    background-size: contain;
    background-position: top; 
    background-repeat: no-repeat; 
    filter: blur(5px); 
    z-index: -1;
}

#lg {
    width: 100px;
}

.wrapper {
    display: flex;flex-direction: column;gap: 80px;align-items: center;
}
.connectezVous {
    border-radius: 100px; width: 348px; height: 60px; 
    padding: 18px, 24px, 18px, 24px; border: 1px; gap: 14px; 
    background: linear-gradient(0deg, #0E61FE, #04B2D9),
                linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    text-align: center;
}
.step {
    display: flex; 
    flex-direction: row;
    width: Fixed (500px);
    height: Hug (176px);
    gap: 24px; 
    padding: 50px;
}
.advice {
    width: Fixed (500px);height: Hug (176px);gap: 24px; display: flex; flex-direction: row;align-items: center;
}

.number {
    width: 50px;height: 50px;border-radius: 14px;background: #E1F5FF; text-align: center;
}

.un {
    width: 38px;height: 34px;top: 20px;left: 18px;font-family: Montserrat;font-size: 20px;font-weight: 700;line-height: 34px;letter-spacing: 0em;text-align: center;color: #2C80FF;margin-top: 8px;
}
.textAdvice {
    margin: 0%;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: x-large; margin-left: 0%;
}