.navbar {
  position: absolute;
  top: 20px;
  right: 20px;
}

.logoutButton {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
    top: auto;
    right: auto;
    margin-right: 20px; 
  }
  
  .logoutButton {
    margin: 18px 0; 
  }
}
