@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  text-align: center;
  padding: 1rem;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
}

@media (min-width: 640px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    margin: 0.5rem;
  }
}

@media (min-width: 768px) {
  .main-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
